body {
  font-family: 'Open Sans Condensed';
  color: #555;
}

a {
  color: #555;
}

a:hover {
  color: #8B7E66;
  text-decoration: none;
}

#header {
  background-color: #EFECE5;
}

#footer {
  width: 100%;
	padding: 2%;
	color: @gray-light;
  background-color: #3D352A;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

/**
 * Navbar
 */

.navbar {
  margin: 0;
  padding: 6px;
}

.navbar-default {
  background: rgba(255, 255, 255, 0);
  border: none;
  .navbar-nav {
    .active {
      a {
        color: #867970;
        background-color: white;
        border-radius: 100px;
      }
      a:hover {
        color: white;
        background-color: #867970;
      }
    }
  }
}

.nav-container {
  background: url(../images/pink-tartan.jpg);
  background-size: cover;
  border: 1px solid white;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  h3 {
    margin: 0;
    padding: 15px;
    color: #555;
  }
}

ul.nav.navbar-nav {
  visibility: hidden;
  margin-bottom: 0;
  margin-top: 5px;
}

.navbar-nav {
  li {
    a {
      float: left;
    }
  }
}

/**
 * Intro
 */

.intro-container {
  padding: 2%;
  width: 100%;
  height: 225px;
  color: #8B7E66;
}

.title {
  font-family: 'Poiret One';
  font-weight: 400;
  font-size: 50px;
  margin-top: 0;
}

.intro-blurb {
  font-weight: 400;
  font-size: 20px;
}

/**
 * Posts Container
 */

.main-container {
  width: 100%;
  background: url(../images/halftone.png);
  border-top: 1px solid #e7e7e7;
  padding: 4%;
}

.post-row {
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: 2.5em;
  -webkit-column-gap: 2.5em;
}

.post {
  display: inline-block;
  width: 100%;
  background: white;
  border-top: 1px solid @gray-lighter;
  margin-bottom: 30px;
}

.post-header {
  width: 100%;
  height: 100px;
  background-size: cover;
}

.post-img {
  height: 100%;
  width: 100%;
}

.post-title {
  font-family: 'Poiret One';
  margin-top: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding: 4%;
  font-size: 22px;
}

.brief-content {
  padding: 4%;
}

.read-more {
  color: #8B7E66;
  .read-more:hover {
    color: #f8f8ff;
  }
}

.music-icon {
  display: block;
}

.tooltip-inner {
  color: #EFECE5;
  background: rgba(0,0,0,0);
}

.tooltip-arrow {
  border: none;
}

.listening-to {
  font-family: 'Open Sans Condensed';
  font-size: 16px;
  color: white;
  padding: 10px;
  .listening-to:hover {
    background-color: pink;
  }
}

.music-image {
  background-size: cover;
  height: 150px;
  width: 150px;
}

.post-footer {
  padding: 4%;
}

.post-date {
  font-size: 14px;
  color: #EFECE5;
  background-color: #3D352A;
  padding: 5px;
}

/**
 * Categories
 */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border-color: #e7e7e7;
  background-color: #3D352A;
}

.list-group-item:first-child {
  border-radius: 0;
}

/**
 * Post
 */

.image-wrap {
  padding: 5% 0%;
}

.posting-header {
  font-family: 'Open Sans';
  padding-bottom: 20px;
  color: #999;
}

.posting {
  font-family: 'Open Sans';
  border-top: 1px solid @gray-lighter;
  font-size: 18px;
  padding: 5% 0;
}

/**
 * Markdown
 */

pre {
  background-color: #FFF5EE;
}


/**
 * About Me
 */

.about-me {
  width: 100%;
  height: 100%;
  background-color: #867970;
  padding: 10%;
}

.socials {
  padding: 10px;
}

.socials:hover {
  color: #EFECE5;
}

























